<extend name="Layout:Common" />
<block name="main">
<h1>
    <span class="action-span"><a href="{:U('add')}">添加分类</a></span>
    <span class="action-span1"><a href="{:U('Index/index')}">ECSHOP 管理中心</a></span>
    <span id="search_id" class="action-span1"> - 商品分类 </span>
    <div style="clear:both"></div>
</h1>
<form method="post" action="" name="listForm">
    <div class="list-div" id="listDiv">
        <table width="100%" cellspacing="1" cellpadding="2" id="list-table" class='tree'>
            <tr>
                <th>商品分类名称</th>
                <th>商品描述</th>
                <th>是否显示</th>
                <th>排序</th>
                <th>操作</th>
            </tr>
            <foreach name="rows" item="row">
            <tr align="center" class="treegrid-{$row.id} <neq name='row.level' value='1'>treegrid-parent-{$row.parent_id}</neq> ">
                <td align="left" class="first-cell" >{$row.name}</td>
                <td width="15%">{$row.intro}</td>
                <td width="15%"><img src="<if condition='$row.is_show eq 1'> __IMG__/{$row.status}.gif <else /> __IMG__/{$row.status}.gif </if>" /></td>
                <td width="15%" align="center"><span>{$row.sort}</span></td>
                <td width="30%" align="center">
                <a href="{:U('edit',array('id'=>$row['id']))}" title="编辑" >编辑</a> |
                <a href="{:U('delete',array('id'=>$row['id']))}" title="移除">移除</a>
                </td>
            </tr>
            </foreach>
        </table>
    </div>
</form>
</block>
<block name='css' >
    <css href='__ZTREEGRIE__/css/jquery.treegrid.css' />
</block>
<block name='js'>
    <js href='__JS__/jquery.min.js'/>
    <js href='__ZTREEGRIE__/js/jquery.treegrid.js'/>
    <script type="text/javascript">
        $('.tree').treegrid();
    </script>
</block>